@using System.Security.Claims

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @(((ClaimsIdentity)User.Identity)?.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Surname)?.Value)</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
